* {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
  text-decoration: none;
  list-style: none;
}

h1 {
  font-size: 6em;
  letter-spacing: 3px;
  font-weight: 700;
  font-family: Lato, sans-serif;
}

h2 {
  font-family: Lato, sans-serif;
  font-size: 60px;
  font-weight: 700;
}

h3 {
  font-family: Roboto, sans-serif;
  font-weight: 300;
  font-size: 1.5em;
  letter-spacing: 2px;
  font-style: italic;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 300;
  font-size: 24px;
  letter-spacing: 2px;
}

.btn {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 1px;
  color: white;
  border: 2px solid white;
  border-radius: 30px;
  padding: 1.4em 2.75em;
  margin-top: 2em;
}

.btn:hover {
  color: black;
  background-color: white;
}

.freepik {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-weight: 500;
  width: 100%;
}
.freepik a {
  color: white;
  text-decoration: underline;
}

header #fixedBar {
  position: fixed;
  top: 0;
  width: 100%;
  padding: 1em;
  background-color: #F2F2F2;
  display: flex;
  z-index: 999;
}
header #fixedBar div {
  margin: 0 auto;
  transform: translateX(-50%);
}
header #fixedBar div img {
  padding: 0.5em;
}
header #fixedBar div img:hover {
  background-color: #C9E4F9;
}
header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5em;
  padding: 1em 15em;
}
header nav div {
  display: flex;
}
header nav div input {
  padding: 0.5em 0;
  padding-left: 1em;
  border: #c0c0c0 1px solid;
  border-right: 0;
  font-size: 1.15em;
}
header nav div button {
  background-color: white;
  padding: 0.5em 1em;
  border: #c0c0c0 1px solid;
  border-left: 0;
  color: #c0c0c0;
  font-size: 1.15em;
  cursor: pointer;
}
header section {
  background-image: linear-gradient(0deg, rgba(41, 46, 51, 0.4), rgba(41, 46, 51, 0.4)), url(../images/headerBg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  color: white;
  padding: 10em 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
}
header section img {
  width: 16%;
  height: auto;
}

main {
  background-color: #292B33;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main #firstMainCards {
  display: flex;
  justify-content: center;
  transform: translateY(-30%);
  gap: 1em;
}
main #firstMainCards article {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1em;
  padding: 2em 0;
  border-radius: 35px;
}
main #firstMainCards article i {
  color: #4B4F5F;
  font-size: 4em;
}
main #firstMainCards article h4 {
  text-align: center;
  font-family: Lato, sans-serif;
  font-size: 20px;
  font-weight: 400;
  width: 70%;
}
main #firstMainCards article p {
  text-align: center;
  width: 70%;
  line-height: 1.6;
}
main #circle {
  width: 60%;
  height: 600px;
  padding: 5em 0;
  margin: 5em 0;
  position: relative;
}
main #circle #forest {
  background-image: url(../images/paysage1.jpg);
  background-size: cover;
  width: 276px;
  height: 276px;
  border-radius: 50%;
  position: absolute;
  top: 25px;
  left: 50px;
}
main #circle #orange {
  width: 75px;
  height: 75px;
  border: #F58D54 solid 25px;
  position: absolute;
  top: 325px;
  left: 0;
  border-radius: 50%;
}
main #circle #snowMountain {
  background-image: url(../images/paysage3.jpg);
  background-size: cover;
  width: 389px;
  height: 389px;
  border-radius: 50%;
  position: absolute;
  border: white solid 20px;
  bottom: 0;
  left: 150px;
  z-index: 99;
}
main #circle #mountain {
  background-image: url(../images/paysage2.jpg);
  background-size: cover;
  width: 628px;
  height: 628px;
  border-radius: 50%;
  position: absolute;
  border: white solid 10px;
  top: 0;
  right: 50px;
}
main #circle #blueGray {
  border: #6C738A solid 50px;
  width: 150px;
  height: 150px;
  border-radius: 50%;
  position: absolute;
  right: 50px;
  bottom: 0;
}
main #backpack {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5em;
  text-align: center;
  width: 70%;
  padding: 1em 2em;
}
main #backpack #backpackText {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
  width: 75%;
}
main #backpack .btn {
  background-color: #F58D54;
  border: 0;
  font-size: 16px;
  letter-spacing: 2px;
  font-weight: 400;
}
main #backpack .btn:hover {
  background-color: #6C738A;
  color: white;
}

/*# sourceMappingURL=style.css.map */
